<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>自定义表单</title>
<#include "/common/html/common.html"/>
<style type="text/css">
.page-container{position: relative;}
</style>
</head>
<body>
<#include "/common/html/nav.html"/>
<div class="main-container container-fluid">
    <div class="page-container">
    <#include "/common/html/left.html"/>
    <div class="page-content">
		<div class="page-header position-relative">
		    <div class="header-title">
		        <h1 id="title">
		        <ul class="breadcrumb">
		          <li><i class="fa fa-home"></i><a href="#">首页</a></li>
		          <li class="active">应用管理</li>
		      	</ul>
		    	</h1>
		    </div>
		    <div class="header-buttons">
		    	<!-- 全拼显示 -->
		       <a class="sidebar-toggler" href="#"><i class="fa fa-arrows-h"></i></a>
		       <!-- 刷新 -->
		       <a class="refresh" id="refresh-toggler" href=""><i class="glyphicon glyphicon-refresh"></i></a>
		       <!-- 两边隐藏 -->
		       <a class="fullscreen" id="fullscreen-toggler" href="#"><i class="glyphicon glyphicon-fullscreen"></i></a>
		   </div>
		   <!--Header Buttons End-->
		</div>
    
	    <div class="page-body no-padding">
	        <div class="mail-container">
	            <div class="mail-header">
	                <ul class="header-buttons">
	                    <li>
	                        <a class="tooltip-primary" data-toggle="tooltip" data-original-title="Send"><i class="fa fa-external-link"></i> </a>
	                    </li>
	                    <li>
	                        <a class="tooltip-primary" data-toggle="tooltip" data-original-title="Attach"><i class="glyphicon glyphicon-paperclip"></i></a>
	                    </li>
	                    <li>
	                        <a class="tooltip-primary" data-toggle="tooltip" data-original-title="Cancel"><i class="glyphicon glyphicon-remove"></i></a>
	                    </li>
	                    <li>
	                        <a class="tooltip-primary" data-toggle="tooltip" data-original-title="Draft"><i class="glyphicon glyphicon-save"></i></a>
	                    </li>
	                </ul>
	
	                <div class="draft">
	                    Last Draft Saved 1 minutes ago
	                </div>
	            </div>
	            <div class="mail-body">
	                <div class="mail-compose">
	                    <form method="post" role="form">
	                        <div class="compose-message-editor">
	                            <script id="editor" type="text/plain"></script>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <div class="mail-sidebar">
	                <ul class="mail-menu">
	                    <li>
	                        <a href="javascript:void(0)" id="text-btn"><i class="fa fa-file-text"></i> 文本框</a>
	                    </li>
	                    <li>
	                        <a href="javascript:void(0)" id="password-btn"><i class="fa fa-lock"></i> 密码框</a>
	                    </li>
	                    <li>
	                        <a href="javascript:void(0)" id="textarea-btn"><i class="fa fa-list-alt"></i> 文本域</a>
	                    </li>
	                    <li>
	                        <a href="javascript:void(0)" id="radios-btn"><i class="fa fa-dot-circle-o"></i> 单选框</a>
	                    </li>
	                    <li>
	                        <a href="javascript:void(0)" id="checkboxs-btn"><i class="fa fa-check-square-o"></i> 复选款</a>
	                    </li>
	                    <li>
	                        <a href="javascript:void(0)" id="file-btn"><i class="fa fa-upload"></i> 文件上传</a>
	                    </li>
	                </ul>
	                <ul class="mail-menu">
	                    <li class="menu-title">
	                        <h6>Tags</h6>
	                    </li>
	                    <li>
	                        <a href="#">
	                            <span class="badge badge-palegreen badge-tag badge-square"></span>
	                            Business
	                        </a>
	                    </li>
	
	                    <li>
	                        <a href="#">
	                            <span class="badge badge-darkorange badge-tag badge-square"></span>
	                            Sports
	                        </a>
	                    </li>
	
	                    <li>
	                        <a href="#">
	                            <span class="badge badge-yellow badge-tag badge-square"></span>
	                            Friends
	                        </a>
	                    </li>
	                    <li class="divider">
	                    </li>
	                    <li>
	                        <a href="#">
	                            + Add Tag
	                        </a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
    <!-- /Page Body -->
            
    
	<!-- <div class="page-container">
		<div class="page-sidebar">
		    <div class="btn-group-vertical" style="width: 200px;">
		      <button type="button" class="btn btn-default" id="text-btn" onclick="">文本框</button>
		      <button type="button" class="btn btn-default">密码框</button>
		      <button type="button" class="btn btn-default">文本域</button>
		      <button type="button" class="btn btn-default">下拉菜单</button>
		      <button type="button" class="btn btn-default">单选框</button>
		      <button type="button" class="btn btn-default">复选框</button>
		      <button type="button" class="btn btn-default">文件上传</button>
		      
		      <div class="btn-group">
		          <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		              Dropdown <i class="fa fa-angle-down"></i>
		          </button>
		          <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
		              <li>
		                  <a href="#">Dropdown link</a>
		              </li>
		              <li>
		                  <a href="#">Dropdown link</a>
		              </li>
		          </ul>
		      </div>
		      <button type="button" class="btn btn-default">Button</button>
		      <button type="button" class="btn btn-default">Button</button>
		      <div class="btn-group">
		          <button id="btnGroupVerticalDrop2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		              Dropdown <i class="fa fa-angle-down"></i>
		          </button>
		          <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop2">
		              <li>
		                  <a href="#">Dropdown link</a>
		              </li>
		              <li>
		                  <a href="#">Dropdown link</a>
		              </li>
		          </ul>
		      </div>
		  </div>
		</div>
		<div class="page-content">
			<script id="editor" type="text/plain" style="width:98%;height:400px;"></script>
		</div>
	</div> -->
		</div>
	</div>
</div>
<#include "/common/html/foot.html"/>

<!--Basic Scripts-->
<script src="${applyUrl}/assets/js/jquery-2.0.3.min.js"></script>
<script src="${applyUrl}/assets/js/bootstrap.min.js"></script>
<!--Beyond Scripts-->
<script src="${applyUrl}/assets/js/beyond.min.js"></script>

<script src="${applyUrl}/assets/js/fuelux/treeview/tree-custom.min.js"></script>
<script src="${applyUrl}/assets/js/bootbox/bootbox.js"></script>
<script src="${applyUrl}/assets/js/select2/select2.js"></script>

<script type="text/javascript" charset="utf-8" src="${applyUrl}/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="${applyUrl}/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="${applyUrl}/ueditor/formdesign.js"> </script>
<!-- 建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败
这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文 -->
<script type="text/javascript" charset="utf-8" src="${applyUrl}/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
var leipiEditor = UE.getEditor('editor', {//allowDivTransToP: false,//阻止转换div 为p
    toolleipi:true,//是否显示，设计器的 toolbars
    textarea: 'design_content',   
    //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
    toolbars:[[
  'fullscreen', 'source', '|', 'undo', 'redo', '|',
  'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
  'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
  'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
  'link', 'unlink', '|',
  'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'insertcode', 'webapp', 'pagebreak', 'template', 'background', '|',
  'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
  'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
  'print', 'preview', 'searchreplace', 'drafts', 'help'
]], 
    //focus时自动清空初始化时的内容
    //autoClearinitialContent:true,
    //关闭字数统计
    wordCount:false,
    //关闭elementPath
    elementPathEnabled:false,
    //默认的编辑区域高度
    initialFrameHeight:300,
    applyUrl: '${applyUrl}'
    //,iframeCssUrl: [] //引入自身 css使编辑器兼容你网站css
    //更多其他参数，请参考ueditor.config.js中的配置项
});

var leipiFormDesign = {
/*执行控件*/
exec : function (method) {
leipiEditor.execCommand(method);
}
};

$(function(){
	$('#text-btn,#password-btn,#textarea-btn,#radios-btn,#checkboxs-btn,#file-btn').click(function() {
		leipiFormDesign.exec($(this).attr('id').split('-')[0]);
	})
	$("#sidebar-collapse").click();
})
</script>

</body>
</html>