<div class="widget">
    <div class="widget-header ">
        <span class="widget-caption"></span>
        <div class="widget-buttons">
            <a href="#" data-toggle="maximize"><i class="fa fa-expand"></i></a>
            <a href="#" data-toggle="collapse"><i class="fa fa-minus"></i></a>
            <a href="#" data-toggle="dispose"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="widget-body">
        <div class="table-toolbar">
            <div class="form-group">
                <div class="col-lg-3 search">
                    <label class="col-lg-3 search-label">标题</label>
                    <div class="input-group col-lg-9 search">
                        <input class="form-control" placeholder="后台名称" type="text" id="name">
                    </div>
                </div>

                <a class="btn btn-primary search-btn" id="search-btn" href="javascript:void(0);"><i class="fa fa-search"></i> 查询</a>
                <@func aClass="btn btn-default purple right" url="/navbar/add" iClass="fa fa-plus" id="navbar-add-btn"/>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered" id="apply-table" style="width: 100% !important;">
            <thead>
            <tr role="row">
                <th width="80">序号</th>
                <th>图标</th>
                <th>标题</th>
                <th>排序</th>
                <th>链接</th>
                <th>修改时间</th>
                <th>状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        //查询对象
        var search = {}, iStart = 1, myPannel = tab.current;
        InitiateWidgets(myPannel.center);

        var oTable = myPannel.center.find('#apply-table').dataTable($.extend(oTableOpts,{
            "sAjaxSource": "<@url value='navbar/find'/>",
            "fnServerData": function(sSource, aoData, fnCallback) {
                iStart = aoData.iDisplayStart +　1;
                Home.datatableAjax(sSource, aoData, fnCallback, search);
            },
            "fnRowCallback": function(target, n) {
                $(target).find('.edit').click(function() {
                    Home.loadCenter('navbar-edit-body', '<@url value="/navbar/modify/' + n.id + '"/>', '编辑导航', true, myPannel);
                })
                $(target).find('.delete').click(function() {
                    Home.deleteReloadCurrent('<@url value="/navbar/delete/' + n.id + '"/>', '操作无法被恢复，请确认该操作？', myPannel.callback);
                })
                $(target).find('.publish').click(function() {
                    Home.ajaxGetReq('<@url value="/navbar/publish/' + n.id + '"/>', myPannel.callback);
                })
            },
            "aoColumns": [
                { "mDataProp": "serial", "bSortable": false, "mRender" : function ( data, type ) {return iStart++;} },
                { "mDataProp": "icon", "bSortable": false, "mRender" : function ( data ) {return '<img src="' + data + '" width="50"/>';} },
                { "mDataProp": "title", "bSortable": false },
                { "mDataProp": "sort", "bSortable": false },
                { "mDataProp": "linkUrl", "bSortable": false },
                { "mDataProp": "updateTime", "bSortable": false },
                { "mDataProp": "status", "bSortable": false, 'sClass': 'center', "mRender" : function ( data, type ) {return data == 1 ? '<a href="#" class="prop-a publish"><i class="fa fa-check"></i></a>' : '<a href="#" class="prop-b publish"><i class="fa fa-times"></i></a>';} },
                { "mDataProp": 'id', "bSortable": false, "mRender": function () {
                    return '<@func aClass="btn btn-info btn-xs times edit btn-circle" url="/navbar/modify" iClass="fa fa-edit"/>'
                            + ' <@func aClass="btn btn-danger btn-xs delete times btn-circle" url="/navbar/delete/*" iClass="fa fa-trash-o"/>';
                    }
                }
            ]
        }));

        myPannel.center.find('#navbar-add-btn').click(function() {
            Home.loadCenter('navbar-add-body', '<@url value="/navbar/add"/>', '添加导航', true, myPannel);
        })

        myPannel.center.find('#search-btn').click(function() {
            myPannel.callback();
        })

        myPannel.callback = function() {
            $.extend(search, {title: myPannel.center.find('#title').val()});
            var oSettings = oTable.fnSettings();
            oTable.fnDraw(oSettings);
        }
    })
</script>