.hide{display: none;}
.right{float: right !important;margin-left: 5px;}
.prop-a:hover,.prop-a:focus{color: #4efa0a !important;}
.prop-a{color: #94fc6f !important;}
.prop-b:hover,.prop-b:focus{color: #ff0000 !important;}
.prop-b{color: #fa7373 !important;}
.center{text-align: center;}
.search-btn{margin-left: 10px;}
.search-label{padding-left: 0px !important;padding-right: 3px !important;padding-top: 7px;text-align: right;}
.search{padding-left: 0px !important;padding-right: 0px !important;}
.vessel{
	max-height: 100%;
	background-color: white;
	border-collapse: separate;
	border: 1px solid rgb(204, 204, 204);
	padding: 4px;
	box-sizing: content-box;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3;
	border-bottom-right-radius: 3;
	border-bottom-left-radius: 3;
	border-top-left-radius: 3;
	overflow-y: auto;
	outline: none;
	display: block;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
}
.hlep_page{
border: 1px solid #999;top: 0px;;width: 200px;height: 100px;
-webkit-box-shadow: 3px 3px 3px #999;-moz-box-shadow: 3px 3px 3px #999;box-shadow: 3px 3px 3px #999;background: white;position: absolute;z-index: 9999999999
}
.hlep_page li{list-style-type:none;padding-bottom: 5px;font-family: '宋体';font-size: 13px;color: #000;padding-left: 20px;vertical-align: middle;padding-top: 2px;}
.hlep_page li:hover{background: blue;color: white;cursor: default;}
.hlep_page ul{margin: 0px 0px;padding-left: 0px !important;}
.auto-wrap{word-break:break-all}
.table{width: 100% !important;}
.font-red{color: red;}
.font-green{color: green;}
.nowrap-table td{white-space: nowrap}