<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<#include "/common/html/common.html"/>
<#include "/common/html/head.html"/>

<div class="col-lg-12 col-sm-12 col-xs-12">
	<div class="widget flat radius-bordered">
	    <div class="widget-header bordered-bottom bordered-themeprimary">
	        <i class="widget-icon fa fa-list"></i>
	        <span class="widget-caption">流程定义</span>
	        <div class="widget-buttons">
	            <a href="#" data-action="refresh"><i class="fa fa-undo"></i></a>
	            <a href="#" data-toggle="maximize">
	                <i class="fa fa-expand"></i>
	            </a>
	            <a href="#" data-toggle="collapse">
	                <i class="fa fa-minus"></i>
	            </a>
	            <a href="#" data-toggle="dispose">
	                <i class="fa fa-times"></i>
	            </a>
	        </div><!--Widget Buttons-->
	    </div><!--Widget Header-->
                                
	    <div class="widget-body">
	    	<div class="table-toolbar">
	    		<form id="config-form" style="padding-right: 20px;" method="post" class="form-horizontal bv-form" novalidate="novalidate">
		    	<div class="form-group">
		    		<div class="col-lg-3 search">
		    			<label class="col-lg-3 search-label">名称</label>
		    			<div class="input-group">
		                    <input class="form-control" name="statDate" id="beginDate" type="text">
	                    </div>
		    		</div>
					<a class="btn btn-primary search-btn" id="search-btn" href="javascript:void(0);"><i class="fa fa-search"></i> 查询</a>
					<@func aClass="btn btn-default purple right" id="create" url="/def/create" iClass="fa fa-plus"/>
					<@func aClass="btn btn-default purple right" id="upload" url="/def/upload" href="url" iClass="fa fa-upload"/>
				</div>
				</form>
			</div>
			
			<table class="table table-striped table-hover table-bordered" style="width: 100% !important;">
	              <thead>
	                  <tr role="row">
	                  	  <th style="display: none;"></th>
		                  <th style="min-width: 60px;">序号</th>
		                  <th style="min-width: 150px;">流程名称</th>
		                  <th style="min-width: 100px;">创建者</th>
		                  <th style="min-width: 180px;">创建时间</th>
		                  <th style="min-width: 80px;">启用</th>
		                  <th>操作</th>
	                  </tr>
	              </thead>
		    </table>
	    </div>
	</div>
</div>
	
	
<#include "/common/html/foot.html"/>
<!--Basic Scripts-->
<script src="${applyUrl}/assets/js/jquery-2.0.3.min.js"></script>
<script src="${applyUrl}/assets/js/bootstrap.min.js"></script>
<!--Beyond Scripts-->
<script src="${applyUrl}/assets/js/beyond.min.js"></script>
<!--Page Related Scripts-->
<script src="${applyUrl}/assets/js/datatable/jquery.dataTables.min.js"></script>
<script src="${applyUrl}/assets/js/datatable/ZeroClipboard.js"></script>
<script src="${applyUrl}/assets/js/datatable/dataTables.tableTools.min.js"></script>
<script src="${applyUrl}/assets/js/datatable/dataTables.bootstrap.min.js"></script>

<script src="${applyUrl}/assets/js/validation/bootstrapValidator.js" type="text/javascript"></script>
<script src="${applyUrl}/assets/js/fuelux/treeview/tree-custom.min.js"></script>
<script src="${applyUrl}/assets/js/bootbox/bootbox.js"></script>
<script src="${applyUrl}/assets/js/select2/select2.js"></script>
<script src="${applyUrl}/common.js"></script>
    
<script>
$(function() {
	//查询参数对象
	var search = new Object(), iStart = 0;
	var oTable = $('table').dataTable($.extend({
		"sAjaxSource": "${applyUrl}/def/find",
		"fnServerData": function(sSource, aoData, fnCallback) {
        	iStart = aoData.iDisplayStart +　1;
        	Home.datatableAjax(sSource, aoData, fnCallback, search);
        },
        "fnRowCallback": function(target, n) {
        	
        	$(target).find('.delete').click(function() {
        		Home.deleteReloadCurrent('<@url value="/sltDataBill/delete/' + n.id + '"/>', '该操作无法恢复，请确认!', myPannel.callback);
        	})
        },
        "aoColumns": [
        	{ "mDataProp": "id", "bSortable": false, 'sClass': 'hide'},
			{ "mDataProp": "serial", "bSortable": false, "mRender" : function ( data, type ) {return iStart++;} },
			{ "mDataProp": "name", "bSortable": false},
			{ "mDataProp": "creator", "bSortable": false},
			{ "mDataProp": "createTime", "bSortable": false},
	        { "mDataProp": "status", "bSortable": false, 'sClass': 'center', "mRender" : function ( data, type ) {return data == 1 ? '<a href="#" class="prop-a publish"><i class="fa fa-check"></i></a>' : '<a href="#" class="prop-b publish"><i class="fa fa-times"></i></a>';} },
		    { "mDataProp": "id", "bSortable": false, "mRender" : function ( data, type, o ) {
		       return '<@func aClass="btn btn-default btn-xs btn-circle" url="/def/editProcess/*" iClass="fa fa-book"/>'
		         + ' <@func aClass="btn btn-primary btn-xs btn-circle" url="/def/formConfig/*" iClass="fa fa-gear"/>'
		         + ' <@func aClass="btn btn-info btn-xs btn-circle" url="/def/edit/*" iClass="fa fa-edit"/>'
	        	 + ' <@func aClass="btn btn-danger btn-xs btn-circle" url="/def/delete/*" iClass="fa fa-trash-o"/>';
		      }}
		]
	}, oTableOpts));
	
	//
	$('#search-btn').click(function() {
	})
	
})
</script>
</body>
</html>